

<!-- <div class="santa-banner">
  <button type="button" class="btn btn-light back-button">&larr; Back</button>
  <img src="src\assets\img\pn-fond-rouge.png" alt="Santa Claus" style="width: 100%; height: auto; display: block;">
</div> -->

<div class="santa-banner">
    <button type="button" class="btn btn-light back-button">&larr; Back</button>
    <img src="" alt="Santa Claus" style="width: 100%; height: auto; display: block;">
  </div>
  
  <div class="container my-5">
    <div class="row ">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto d-flex align-items-center">
        <form class="form-size w-100"> <!-- Corrected class name and added w-100 -->
          <div class="form-floating mb-3 " style="margin: 13px;">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          </div>
          <div class="form-check mb-3 text-center">
            <input class="form-check-input" type="checkbox" id="rememberPasswordCheck">
            <label class="form-check-label" for="rememberPasswordCheck">Se souvenir de moi</label>
          </div>
          <div class="text-center">
            <button class="btn btn-custom btn-block btn-danger">CONNEXION</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <footer class="site-footer">
    <div class="container">
      <!-- <p>This is a footer content area.</p> -->
    </div>
  </footer>